@model IEnumerable<WasteReductionPlatform.Models.PickupSchedule>

@{
    ViewData["Title"] = "Pickup Schedules";
}

<h1>Pickup Schedules</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Date</th>
            <th>Type</th>
            <th>User Type</th>
            <th>Area</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.PickupDate.ToShortDateString()</td>
                <td>@item.PickupType</td>
                <td>@item.UserType</td>
                <td>@item.Area</td>
                <td>
                    <a asp-controller="PickupSchedules" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-secondary">Edit</a>
                    <a asp-controller="PickupSchedules"  asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>