@model IEnumerable<WasteReductionPlatform.Models.User>

@{
    ViewData["Title"] = "User Management";
}

<h1>User Management</h1>
<!-- TempData Messages -->
@if (TempData["Success"] != null)
{
    <div class="alert alert-success" role="alert">
        @TempData["Success"]
    </div>
}
@if (TempData["Error"] != null)
{
    <div class="alert alert-danger" role="alert">
        @TempData["Error"]
    </div>
}

<table class="table">
    <thead>
        <tr>
            <th>Username</th>
            <th>Street Address</th>
            <th>City</th>
            <th>Province</th>
            <th>Postal Code</th>
            <th>User Type</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
         @if (!Model.Any())
        {
            <tr>
                <td colspan="5" class="text-center">No records to display.</td>
            </tr>
        }
        else
        {
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.Email</td>
                <td>@user.StreetAddress</td>
                <td>@user.City</td>
                <td>@user.Province</td>
                <td>@user.PostalCode</td>
                <td>@user.UserType</td>
                <td> 
                    <a asp-action="Register" asp-controller="User" class="btn btn-primary">Create</a>
                    <a asp-action="Edit" asp-route-id="@user.Id" class="btn btn-secondary">Edit</a>
                    <a asp-action="Delete" asp-route-id="@user.Id" class="btn btn-danger">Delete</a>
                </td>
            </tr>
            }
        }
    </tbody>
</table>
