@model WasteReductionPlatform.Models.UserPickupRequest

@{
    ViewData["Title"] = "Cancel Pickup Request";
}

<h1>Cancel Pickup Request</h1>

<div>
    <h4>Are you sure you want to cancel this pickup request?</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">Date Requested</dt>
        <dd class="col-sm-10">@Model.RequestedDate.ToShortDateString()</dd>
        <dt class="col-sm-2">Pickup Date</dt>
        <dd class="col-sm-10">@Model.PickupSchedule.PickupDate.ToShortDateString()</dd>
        <dt class="col-sm-2">Pickup Type</dt>
        <dd class="col-sm-10">@Model.PickupSchedule.PickupType</dd>
        <dt class="col-sm-2">City</dt>
        <dd class="col-sm-10">@Model.PickupSchedule.Area</dd>
        <dt class="col-sm-2">Status</dt>
        <dd class="col-sm-10">@((Model.IsConfirmed) ? "Confirmed" : "Pending")</dd>
    </dl>

    <form asp-action="Delete" method="post">
        <input type="hidden" asp-for="Id" />
        <button type="submit" class="btn btn-danger">Cancel Request</button>
        <a asp-action="Index" class="btn btn-secondary">Back to List</a>
    </form>
</div>
